.Pokemons__app {
    background-color:#FFDC00; 
}

.App__header {
    position: relative; 
}

.Triangle-left {
    width: 0; 
    height: 0; 
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent; 
    border-right:80px solid #000000; 
    transform: rotate(45deg);
    position: fixed;
    left: -14px;
    top: -59px; 
  }

.Triangle-right {
    width: 0; 
    height: 0; 
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent; 
    border-right:80px solid #000000; 
    transform: rotate(135deg);
    position: fixed;
    right: -14px;
    top: -59px; 
  }

.App__main-section {
    position: relative;
  }

.Pokemons__container {
    display: flex;
    justify-content: center;

}

.Search-field__label {
    display: flex;
    justify-content: center;
}

.Search-field {
    width: 600px;
    height: 30px;
    margin: 90px;
}

input::placeholder {
    color: #D3D3D3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.Pokemon__element{
    width: 250px;
    height: 270px;
    background-color: #FFFFFF;
    margin: 15px;

}

.Pokemons__list {
    list-style: none;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.Image__container {
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

.Pokemon__picture {
    width: 110px;
    height: 110px;
    align-self: center;
    
}

.pokemon__order {
    background-color: #C8C8C8;
    width: 60px;
    height: 25px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.Pokemon__name {
    font-weight: 700;
    font-size: 22px;
    text-transform: capitalize;
    padding-left: 16px;
    margin-bottom: 5px; 
}

.Pokemon__abilities {
    list-style: none;
    display: flex;
    padding: 0;
    padding-left: 15px;
}

.Ability {
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #808080;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    padding: 3px;
}

.quarter-circle-bottom-left {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
    position: fixed;
    bottom: 0;
    transform: rotate(-90deg);

}
.quarter-circle-bottom-right {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);

}

